<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="23:59:59" processPath="dotnet" arguments=".\NetCore.Project.dll" stdoutLogEnabled="false" stdoutLogFile=".\_Log\Log" forwardWindowsAuthToken="false" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 8ebcb91e-394e-44f3-9ca1-ecd48a6c9942-->